/* universal */
* p {
  margin-bottom: 0 !important;
}

* .input-group-addon {
  border: none;
  border-radius: 0 0 0 3px;
}

* input {
  outline: none;
  border: 1px solid #ECEEEF !important;
  border-top-right-radius: 0 !important;
}

* button {
  font-family: AvenirNext-Bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin: 0 auto;
  background-color: #3EB991 !important;
  border-radius: 100px !important;
  cursor: pointer;
}

.list-group {
  margin-bottom: 20px;
}

body {
  min-width: 300px;
  max-width: 300px;
}

.AngelList-container {
  background-color: #7D7F7F;
}
.AngelList-bottom-container {
  background-color: #3E3F40;
}

.Behance-container {
  background-color: #0E54E0;
}
.Behance-bottom-container {
  background-color: #082E7A;
}

.Codepen-container {
  background-color: #EDC951;
}
.Codepen-bottom-container {
  background-color: #DBBA4B;
}

.Dribbble-container {
  background-color: #E04983;
}
.Dribbble-bottom-container {
  background-color: #7A2848;
}

.Github-container {
  background-color: #7D55BF;
}
.Github-bottom-container {
  background-color: #54397F;
}

.Medium-container {
  background-color: #47E07D;
}
.Medium-bottom-container {
  background-color: #3CBF6A;
}

.LinkedIn-container {
  background-color: #FF8C00;
}
.LinkedIn-bottom-container {
  background-color: #B26200
}

.Portfolio-container {
  background-color: #B8AE9C;
}
.Portfolio-bottom-container {
  background-color: #595241;
}

.Twitter-container {
  background-color: #00ACFF;
}
.Twitter-bottom-container {
  background-color: #0079B2;
}

/* nav */
.nav {
  margin: 0 auto;
}
.nav-tabs {
  border-bottom: none;
}
.nav-link, .active {
  outline: none !important;
  border: none !important;
}

/* dropdown */
#dropdown-row {
  padding-top: 10px;
}

/* individual links */
#body-container {
  margin-top: 10px;
  margin-bottom: 10px;
  /*padding-bottom: 5px;*/
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  /*border-bottom: 1px solid #000;*/
}
#a-link {
  cursor: pointer;
}
#a-link:hover, button:hover {
  opacity: 0.9;
}

.link-container {
  margin-top: 15px;
  margin-bottom: 10px;
  /*background: #7D7F7F;*/
  border-radius: 3px;
}
.link-placeholder {
  font-family: AvenirNext-DemiBold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  padding: 15px 20px 10px 20px;
}
.fa {
  margin-right: 10px;
}
.link-bottom-container {
  padding: 5px 0;
  /*background: #3E3F40;*/
  border-radius: 0 0 3px 3px;
}
.copy-link-placeholder {
  padding-top: 5px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 15px;
}

.options {
  top: -20px;
  font-size: 14px;
  position: relative;
}

/* add new link */
.list-link-container {
  padding: 5px 0;
  background: #5B87D9;
  border-radius: 3px 3px 0 0;
}
.list-link-placeholder {
  font-family: AvenirNext-DemiBold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  /*background: #7D55BF;*/
  border-radius: 3px 3px 0 0;
}

#newLinkItem {
  display: none;
}

/* dark mode toggle */
.dark-mode-title {
  padding-right: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* dark mode */
.dark_mode {
  background-color: #192633;
  color: #fff;
}
.dark_button {
  background-color: #54A4F5 !important;
}

.dark_nav {
  color: #fff;
  background-color: #192633 !important;
}
.dark_mode_enabled {
  background-color: #2196F3;
}

.disabled_button {
  background-color: darkgrey !important;
}
